{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% block head %}
    <title>Sistema</title>
  {% endblock %}
  <link href="{% static 'css/output.css' %}" rel="stylesheet">

   <!-- Segurança básicas -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline';" />
  <meta http-equiv="X-Content-Type-Options" content="nosniff" />
  <meta name="referrer" content="no-referrer" />

  <!-- Não indexar no Google e outros robôs -->
  <meta name="robots" content="noindex,nofollow" />
  <meta name="googlebot" content="noindex,nofollow" />

  <!-- Tags para responsividade e compatibilidade -->
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <meta name="theme-color" content="#015152" />
  
</head>
<body class="font-sans bg-gray-50 min-h-screen">
  {% include 'sidebarnew.html' %}
  <div class="md:ml-64">
    {% include 'topbarnew.html' %}
    <main class="p-8 pt-24">
      {% block content %}{% endblock %}
    </main>
  </div>
  <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
